

body {
    background-color: #A3BCB6;
    text-align: center;
}



h1 {
    color: black;
}

li {
    list-style-type: none !important;
}

.correct {
    color: aquamarine;
}

.incorrect {
    color: red;
}


#counters {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: white;
    z-index: 5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 3px 13px 0px #333;
}


.questions p {
    color: black;
}


.questions li {
    cursor: pointer;
}

.questions li:hover {
    color: black;
}

.answer i {
    margin-right: 5px;
}

.title i {
    margin-right: 5px;
    margin-left: 5px;
}

#question {
    box-shadow: 2px 3px 13px 0px #333;
    padding: 60px;
}