

body {
    background-color: #4972E0;
    text-align: center;
}


h1 {
    padding: 20px;
    color: black;
}

li {
    list-style-type: none !important;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}


#counters {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #1952AA;;
    z-index: 5;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 2px 3px 13px 0px #F74600;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}


.questions p {
    color: black;
}


.questions li {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    cursor: pointer;
}

.questions li:hover {
    color: black;
}

.answer i {
    margin-right: 5px;
}

.title i {
    margin-right: 10px;
    margin-left: 10px;
}

#question {
    background-color: #1952AA;
    box-shadow: 2px 3px 13px 0px #F74600;
    padding: 60px;
}

#start-button {
    background: #F74600;
}

#diff-dropdown {
    color: white;
    border-color: #F74600;
    background: #1952AA;
}

#qType-dropdown {
    color: white;
    border-color: #F74600;
    background: #1952AA;
}

#sentence {
    padding: 10px;
}

#dropdowns {
    padding: 20px;
}